/* ============
 * Main Stylesheet
 * ============
 * http://stylus-lang.com/
 * PC 1920 x 1080 기준으로 개발  (테스트 화면 1920 × 1200 24인치 모니터)
 * 스마트폰 390 x 844 기준으로 개발 (테스트 화면 아이폰13)
 */

// 레이아웃화면 변수 
--medium = 'screen and (min-width: 768px)'/* 스마트폰 세로가로 테블릿 screen은 데스크탑,스마트폰적용*/
--large = 'screen and (min-width: 992px)'
--xlarge = 'screen and (min-width: 1200px)'
--color-dark = rgb(38, 42, 65)
--color-white = white
--color-dark-input = rgba(255, 255, 255, 0.1);
--color-light-line = rgb(236, 238, 240);
--color-main-font = #2c3e50;

/*****************
*  공통적용항목
******************/ 
//배경색상
body
 background-color: #f8f9fa!important

// 모바일화면(~768px까지 적용)
@media (max-width: 768px)
	//모바일화면에서 부트스트랩 container클래스의 여백제거
	.container
		max-width: 100%!important
		padding: 0!important
		right: 0!important
	.default-right
		border-radius: 0!important
		width: 100%!important
		margin: 0!important
	.default-background
		border-radius: 0!important
	// 햄버거버튼위치
	.button_container 
		margin-left: 1rem!important
	.default-left
		display: flex!important
	// 게시글 보기 화면에서는 더 좋은 유저경험을 위해 모바일 화면시 왼쪽메뉴를 표시하지않음
	.leftmenuactive
		display: none!important
// a링크효과제거
a:link , a:visited , a:hover{ 
 text-decoration: none;
 color: white
}
// ul의 li list스타일변경 
ul 
	list-style:none;
// 한줄 콜론처리
.ellipsis{
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;	
}

// 항목명
span.sm-title 
	font-weight: bold
	font-size: 0.9rem
	display: inline-block
	margin-bottom 0.5rem

// 컴포넌트 포커스시 부트스트랩 기본 효과제거
.form-control:focus:not(a)
	outline: none!important
	border-color: transparent!important
	box-shadow: 0 0 5px gray!important

// 플랫피커 배경색 초기화
.flat-pickr
	background-color: rgb(255,255,255)!important

// 체크박스
.list-checkbox {
	position: relative;
	height: 26px;
	width: 26px;
}
.list-checkbox label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 26px;
	left: 0;
	position: absolute;
	top: 0;
	width: 26px;
}
// 추가모드버튼
.list-checkbox.list-add label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
}
// 삭제모드 버튼
.list-checkbox.list-del label:after {
	border: 2.5px solid #fff;
	border-top: none;
	border-right: none;
	border-left: none;
	content: "";
	height: 6px;
	left: 6px;
	opacity: 0;
	position: absolute;
	top: 7px;
	width: 12px;
}
.list-checkbox input[type="checkbox"] {
	visibility: hidden;
}
// 추가모드버튼
.list-checkbox.list-add input[type="checkbox"]:checked + label {
	background-color: rgb(54, 217, 216);
	border-color: rgb(54, 217, 216);
	transition 0.25s
}
// 삭제모드버튼
.list-checkbox.list-del input[type="checkbox"]:checked + label {
	background-color: rgb(213, 63, 50);
	border-color: rgb(213, 63, 50);
	transition 0.25s
}
.list-checkbox input[type="checkbox"]:checked + label:after {
	opacity: 1;
	transition 0.35s
}
// 부트스트랩 텍스트에리어 초기화
.input_textarea {
    resize: none;
    border: 1px solid #e9ecef;
    line-height: 1.75;
}
// 프로필 이미지 부분
.profile-img
	height: 2.5rem
	width: 2.5rem
	display: block
	border-radius: 50%
	-o-object-fit: cover
	object-fit: cover;
// select 태그의 기본 폰트색상 초기화
select 
	color #6c757d !important
// p태그의 기본 마진을 초기화
p
	margin: 0!important
// 연한회색의 폰트칼라
.font-light-color
	color #868e96
// 포인터 커서
.cursor-pointer
	cursor pointer
// 부트스트랩 버튼 hover 색변경
.btn-outline-secondary:hover
	background-color: #99a5b1!important
	border-color: #99a5b1!important
// 슬라이드메뉴 공통부분
.list-menu-body
	cursor: pointer
	position relative
.list-menu
	position absolute
	background: rgb(235, 235, 235)
	border: none;
	border-radius: 8px;
	text-align: center;
	margin: auto;
	height: 0px
	overflow: hidden;
	transition: height .5s ease-in-out
	padding 0
	z-index 1
.list-menu > li:hover
	background: rgb(225, 225, 225)


/*****************
* 로그인화면
******************/ 
.login-bg
	background-color: hsla(0,0%,97.6%,.85);
	position: fixed
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 300;
	display: flex;
	justify-content: center;
	align-items: center;
.login-cont
	width: 370px;
	height: 520px;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 9%);
	z-index: 1;
	background: #fff
	padding: 1.5rem
	position relative
.login-cont i
	cursor pointer
.login-title p
	color: #868e96
@media (max-width: 768px)
	.login-cont
		width: 100%
		height: 100%
.login-footer
	position absolute
	bottom 0 
	right 0
	padding-right: inherit // 부모의 패딩을 그대로 계승 (중요)
	padding-bottom: inherit
	span.clickable
		color: #2468a2
		cursor pointer
#emailValidInput
	font-size: 0.9rem
/*****************
* 레이아웃화면 (왼쪽화면)
******************/ 
.default-body
    .default-background
        color: white
        background: --color-dark
        border-radius: 15px
        .default-left
            position: relative
            display: flex
            flex-direction: column /*수직 정렬*/
            align-items: center
            justify-content: flex-start
        .default-right
            display: flex
            flex-direction: column /*수직 정렬*/
            align-items: center
            justify-content: flex-start
            color: --color-main-font
            background: white
            border-radius: 15px
            margin: 8px 0 8px 2.5%
            width: 95%
            @media --medium
                margin: 8px 0
                width: 100%
                right: 8px
			.default-right-footer
				text-align: right

		hr
			margin 1.25rem 0
		.default-welcome
			width: 95%
			margin-bottom 0.4rem
			h1
				padding-left 0.7rem
			p
				margin-top: 1.5rem
				color: rgb(118, 121, 136)
				font-size 0.85rem
				text-align: left
				padding-left 0.7rem
		
		// 검색어 입력창
		.search-bar
			width: 95%
			div.input-groupt
				display: flex 
				.btn
					border-style: inset
					display: flex
					justify-content: center
					align-items center
					padding 0.9rem
					color: --color-white
					background: --color-dark-input
					border-radius: 10px 0 0 10px;
				.btn:focus
					box-shadow: none;//부트스트랩 버튼 클릭시 테두리 발생 제거
				.form-control
					width: 100%;
					height: 3rem;
					color: white;
					background: --color-dark-input
					border-color: transparent;
					border-radius: 0 10px 10px 0;
					--placeholder-color: --color-white
				.form-control:focus
					box-shadow: none;
		// 검색 조건
		.search-condition
			width: 90%
			margin-top 2rem
			.form-control
				border-radius: 10px!important
		// 할일목록
		.search-todoList
			width: 90%
			margin-top 2rem
			.search-todoList-title
				display flex
				justify-content space-between
				span:nth-of-type(2)
					font-size 0.8rem
					line-height 1.6rem
			.progress
				height 0.8rem
				.progress-bar
					background-color #4d76fd;
			.search-todoList-status
				display: flex
				margin-top 1.2rem
				text-align: center
				div
					flex: 3
				p
					margin-bottom 0
				.status-total
					font-weight: bold
				.status-title
					font-weight bold
					font-size 0.92rem
				.status-title-mini
					font-size 0.8rem
				a:hover
					transition color 0.25s ease-out 100ms
					color #5579ee!important
		.entry-date-form-small
			color: #767988
			font-size 0.8rem
					
// 햄버거 메뉴
.button_container 
	position absolute // default-left기준이됨
	left: 1rem
	top: 1.5rem
	height 1.5rem
	width 1.8rem
	cursor pointer
	z-index 100 // 높이 100%인 오버레이가 표시 되더라도 z-index를 높여서 해당 버튼은 항상 보이도록 설정
	transition opacity 0.25s ease
	&:hover 
		opacity 0.7
	&.active 
		.top-bar 
			transform translateY(11px) translateX(0) rotate(45deg)
			background --color-white 
		.middle-bar 
			opacity 0
			background --color-white 
		.bottom-bar 
			transform translateY(-11px) translateX(0) rotate(-45deg)
			background --color-white 
	span 
		background --color-white 
		border none
		height 5px
		width 100%
		position absolute
		top 0
		left 0
		transition all 0.35s ease
		cursor pointer
		&:nth-of-type(2) 
			top 11px
		&:nth-of-type(3) 
			top 22px
.overlay 
	position absolute // default-left가 기준이됨
	background-color --color-dark 
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	width 90%
	height 0%
	border-radius: 15px;
	z-index 200
	overflow hidden
	&.open 
		height 80.5% // 평소엔 안보이다가 open 클래스가 붙으면 높이 75%인 햄버거버튼메뉴가 보임
		overflow: visible
		li 
			animation fadeInRight 0.4s ease forwards
			animation-delay 0.25s
			&:nth-of-type(2) 
				animation-delay 0.3s
			&:nth-of-type(3) 
				animation-delay 0.35s
			&:nth-of-type(4) 
				animation-delay 0.4s
            @keyframes fadeInRight {
				0% {
					opacity: 0;
					left: 20%;
				}
				100% {
					opacity: 1;
					left: 0;
				}
            }
	ul 
		list-style none
		padding 0
		margin 20% auto
		display inline-block
		position relative
		height 100%
		li 
			font-size 1.5rem
			display block
			text-align left
			height 25%
			height calc(100% / 4)
			min-height 50px
			position relative
			opacity 0
			a 
				display block
				position relative
				color --color-white 
				text-decoration none
				overflow hidden
				&:after 
					content ""
					position absolute
					bottom 0
					left 50%
					width 0%
					transform translateX(-50%)
					height 3px
					background --color-white 
					transition 0.35s
// 모바일화면에서 NAV 메뉴가 모두 표시되도록 설정
@media (max-width: 768px)
	.overlay-menu
		position absolute
		top -50%
/*****************
* 오른쪽화면
/****************/
.list-container
	width 100%
	.list-body-ul 
		list-style:none;
		padding-left 0.5rem
	.list-search+.input-groupt
		display: flex
		margin-bottom 2rem;
		.btn
			border: 1px solid #ced4da;
			border-right: none;
			border-radius: 0.25rem 0 0 0.25rem;
		input[type="search"]
			border-left: none;
			border-radius: 0 0.25rem 0.25rem 0;
		.btn:focus
		,.btn:active
		,input[type="search"]:focus
		,input[type="search"]:active
			outline: none !important;
			box-shadow: none;
			border-color: #ced4da
	.list-search-input
		margin: 1rem 0 2rem
	.list-haeder
		display flex
		justify-content space-between
		align-items center
		border-bottom solid 1px --color-light-line
		margin-bottom 1rem
		// 오른쪽 슬라이드 메뉴
		i.fa-ellipsis-h
			font-size 1.25rem
			color: rgb(133, 145, 159);
		// 오른쪽 슬라이드메뉴 위치와 크기지정
		.list-menu.list-option-home
			top: 1.3rem
			right: 0
			width: 150px;
			line-height: 35px;
		// 오른쪽 슬라이드메뉴 열렸을때 크지정
		.list-menu.list-option-home.open
			height: 106px
	.list-item
		display: flex;
		margin: 1.25rem 0
		width: 100%
		height: 1.3rem
		align-items: center
		.list-content
			cursor pointer
			margin-left 0.7rem
			width 100%
			line-height 30px
			height 30px
			padding-left 10px
		.list-content:hover
			background: #f8f9fa
			border-radius: 10px
			left: -10px
.list-footer
	font-size 1.5rem
	width: 95%
.list-footer:hover
	transition 0.25s
.list-footer>.btn
	font-weight 500
.add-padding-bottom
	padding-bottom: 5rem!important 
.btn-option
	font-weight: 500
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box; /* width의 크기범위 (border도 포함할것인지)*/
	width: 5rem;
	height: 3rem;
	line-height: 1;
	background: rgb(137, 79, 198);
	color: white
	border: none;
	border-radius: 10px;
	box-shadow: 0 1.4px 2.8px rgb(137 79 198 / 4%)
.btn-option-initial-size
	width initial!important
	height: initial!important
.home-write-position
	position: absolute
	bottom: 20px;
	right: 26px;
.btn-option:hover
	color: white

/*****************
* 글쓰기 화면
/*****************/
// ToastUI Editor 설정
#toastUiEditor
	width: 100%
.toastui-editor-dropdown-toolbar
	right: 0!important // 모바일화면시 팝업위치가 안맞아서 강제설정
.toastui-editor-popup
	margin-left 0!important // 모바일화면시 팝업위치가 안맞아서 강제설정
	left: 0!important // 모바일화면시 팝업위치가 안맞아서 강제설정
.condition-container
	width: 100%
.writeContButtons
	display: flex
	justify-content: space-between
#writeContBack
	cursor pointer
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box; /* width의 크기범위 (border도 포함할것인지)*/
	width: 2.5rem;
	height: 3rem;
	line-height: 1;

/*****************
* 게시글 보기 화면
/*****************/
.post-condition label
	font-weight: 650
.post-date
	font-size: 0.96rem
.post-title
	display: flex
	justify-content: space-between
	align-items: center
.post-user-info
	display: flex
	justify-content: space-between
.post-update-buttons span 
	cursor pointer
.post-condition
	padding: 0.5rem
	background: #f2f2f2
	border-radius: 8px
	position: relative
	color: #212529;
	.form-group
		margin-bottom :0.5rem!important
	label
		margin-bottom: 0rem!important
.post-bold
	font-weight: 600
	color: --color-main-font
	cursor initial
.post-back
	cursor: pointer
	height: 1.5rem
	width: 1.5rem
.post-startDate-cont
	display: flex
	justify-content: space-between
.post-startDate-cont span
	cursor pointer
	margin-right 0.25rem
// 오른쪽 슬라이드메뉴 위치와 크기지정
.list-menu.list-option-post
	top: 2rem
	right: 0.5rem
	padding: 0 1rem;
	line-height: 35px;
	outline: none
	border-color: #e5e9ed
	-webkit-box-shadow: 0 0 10px #000
	box-shadow: 0 0 10px #000
// 오른쪽 슬라이드메뉴 열렸을때 크지정
.list-menu.list-option-post.open
	height: 216px
.list-menu.list-option-post > li:hover
	background: none
/*****************
* 댓글 화면
/*****************/
.comment-reply-show span
	cursor pointer
	color: #2468a2
.comment-reply-cont
	border: 1px solid rgba(0,0,0,.02)
	background-color: rgba(0,0,0,.016)
	padding: 1.5rem
	border-radius: 4px
	margin-top: 1.3125rem

.user-image-setting img
		height 8rem
		width 8rem